<!DOCTYPE html>
<html>
<head>
    <link href="../../bower_components/polymer/polymer.html" rel="import">
    <!-- Element Imports -->
</head>

<dom-module id="index-element">
  <style>
    /* CSS rules for your element */
  </style>
  <template>
    <p>Hello world</p>
    <iron-image style="width:100%; height:800px; background-color: lightgray;"
    sizing="cover" preload src="onlinelearning.jpg"></iron-image>
  </template>
</dom-module>
<script>
  Polymer({
    is: "index-element",
    properties: {
      },
    ready: function(e){
    }
  });
</script>
