<!DOCTYPE html>
<html>
<head>
    <link href="../../bower_components/polymer/polymer.html" rel="import">
    <!-- <link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html"> -->
    <!-- <link rel="import" href="../../bower_components/firebase-element/firebase-auth.html"> -->
    <!-- Element Imports -->
</head>

<dom-module id="sign-up">
  <style>
    /* CSS rules for your element */
    <style>
      :host {
        display: block;
      }
      #signupForm{
        width: 33%;
      }
      @media (max-width: 1200px) {
        #signupForm{
          float: left;
          width: 66%;
          margin-left: 16%;
        }
      }
      @media (max-width: 600px) {
        #signupForm{
          width: 95%;
          margin-left: 2%;
        }
      }
    </style>
  </style>
  <template>
    <!-- local DOM for your element -->
    <center>
      <paper-card id = "signupForm" heading ="Create Account">
          <form is="iron-form" method="get" action="/createclass" id="signupFormlocater">
            <paper-input name="email" id = "formEmail" label="Email" required auto-validate></paper-input>
            <paper-input name="password" id = "formPassword"label="Password" type="password" required auto-validate></paper-input>
            <paper-input name="verify_password" label="Retype password" type="password" required auto-validate></paper-input>
            <div class="output"></div>
            <paper-button raised id="signup-submit">Submit</paper-button>
          </form>
        </div>
      </paper-card>
    </center>
  </template>
</dom-module>
<script>
  Polymer({
    is: "sign-up",
    listeners: {
      'signup-submit.tap': 'specialTap'
    },
    specialTap: function(e){
      var ref = new Firebase("https://prendus.firebaseio.com/");
      ref.createUser({
        email: this.$.formEmail.value,
        password: this.$.formPassword.value
      }, function(error, userData) {
        if (error) {
          switch (error.code) {
            case "EMAIL_TAKEN":
              alert("The new user account cannot be created because the email is already in use.");
              break;
            case "INVALID_EMAIL":
              alert("The specified email is not a valid email.");
              break;
            default:
              alert("Error creating user:", error);
          }
        } else {
          console.log("Successfully created user account with uid:", userData.uid);
        }
      });
    },
    properties: {

      },
    ready: function(e){
      function _submit(){
        console.log('hello world')
      }
    }
  });
  // function _submit(event){
  //   console.log(this)
  //   var form = Polymer.dom(event).localTarget.parentElement
  //   console.log(form);
  //   console.log(form.email);
  //   console.log(form.password);
  //
  // }
</script>
